---
layout: main_list
title: Vinyl Archive | Home 
---

<div class="main-body">

	<button class=" filter-button sidebar_titles sidebar-head-text-color sidebar-head-background-color"onclick="myFunction()">Filters</button>

	<div class="latest-uploads">

		<div class="main-head-text-color main-head-background-color uploads">
		Latest Uploads
		</div>

		<div class="grid-list">

			{% include album_input.html 
				album_url="#" 
				artist_url="#"
				album_cover="albumcover.jpg"
				album_title="Storyboards"
				album_artist="Sleeping at Last"
			%}
			{% include album_input.html 
				album_url="#" 
				artist_url="#"
				album_cover="albumcover.jpg"
				album_title="Storyboards"
				album_artist="Sleeping at Last"
			%}
			{% include album_input.html 
				album_url="#" 
				artist_url="#"
				album_cover="albumcover.jpg"
				album_title="Storyboards"
				album_artist="Sleeping at Last"
			%}
			{% include album_input.html 
				album_url="#" 
				artist_url="#"
				album_cover="albumcover.jpg"
				album_title="Storyboards"
				album_artist="Sleeping at Last"
			%}
			{% include album_input.html 
				album_url="#" 
				artist_url="#"
				album_cover="albumcover.jpg"
				album_title="Storyboards"
				album_artist="Sleeping at Last"
			%}
			{% include album_input.html 
				album_url="#" 
				artist_url="#"
				album_cover="albumcover.jpg"
				album_title="Storyboards"
				album_artist="Sleeping at Last"
			%}
			{% include album_input.html 
				album_url="#" 
				artist_url="#"
				album_cover="albumcover.jpg"
				album_title="Storyboards"
				album_artist="Sleeping at Last"
			%}
			{% include album_input.html 
				album_url="#" 
				artist_url="#"
				album_cover="albumcover.jpg"
				album_title="Storyboards"
				album_artist="Sleeping at Last"
			%}
			{% include album_input.html 
				album_url="#" 
				artist_url="#"
				album_cover="albumcover.jpg"
				album_title="Storyboards"
				album_artist="Sleeping at Last"
			%}
			{% include album_input.html 
				album_url="#" 
				artist_url="#"
				album_cover="albumcover.jpg"
				album_title="Storyboards"
				album_artist="Sleeping at Last"
			%}
			{% include album_input.html 
				album_url="#" 
				artist_url="#"
				album_cover="albumcover.jpg"
				album_title="Storyboards"
				album_artist="Sleeping at Last"
			%}
			{% include album_input.html 
				album_url="#" 
				artist_url="#"
				album_cover="albumcover.jpg"
				album_title="Storyboards"
				album_artist="Sleeping at Last"
			%}
			{% include album_input.html 
				album_url="#" 
				artist_url="#"
				album_cover="albumcover.jpg"
				album_title="Storyboards"
				album_artist="Sleeping at Last"
			%}
			{% include album_input.html 
				album_url="#" 
				artist_url="#"
				album_cover="albumcover.jpg"
				album_title="Storyboards"
				album_artist="Sleeping at Last"
			%}
			{% include album_input.html 
				album_url="#" 
				artist_url="#"
				album_cover="albumcover.jpg"
				album_title="Storyboards"
				album_artist="Sleeping at Last"
			%}
			{% include album_input.html 
				album_url="#" 
				artist_url="#"
				album_cover="albumcover.jpg"
				album_title="Storyboards"
				album_artist="Sleeping at Last"
			%}
			{% include album_input.html 
				album_url="#" 
				artist_url="#"
				album_cover="albumcover.jpg"
				album_title="Storyboards"
				album_artist="Sleeping at Last"
			%}
			{% include album_input.html 
				album_url="#" 
				artist_url="#"
				album_cover="albumcover.jpg"
				album_title="Storyboards"
				album_artist="Sleeping at Last"
			%}
			{% include album_input.html 
				album_url="#" 
				artist_url="#"
				album_cover="albumcover.jpg"
				album_title="Storyboards"
				album_artist="Sleeping at Last"
			%}
			{% include album_input.html 
				album_url="#" 
				artist_url="#"
				album_cover="albumcover.jpg"
				album_title="Storyboards"
				album_artist="Sleeping at Last"
			%}

			

			

			

			

			

			

			

			

			

			

			

			

			

			

			

			

			

			

			
		</div>

		<div class="page-nav prev-next-text-color ">
			<a href="#" class="prev prev-next-text-color"> 
				<div class="prev_next_arrows"> < </div>
				<div> prev </div>
			</a>


			<div class="page_number"> 1-9 of 100 </div>


			<a href="#" class="next prev-next-text-color"> 
				<div> next </div>
				<div class="prev_next_arrows"> > </div>	
			</a>
		</div>
	</div>

	<div id="filters" class="main-sidebar">
		<div class="sidebar_titles sidebar-head-text-color sidebar-head-background-color">Cities</div>

		<div class="sidebar-sort">
			<div><a href="#" class="items_in_sidebar sidebar-list-text-color">City (#)</a></div>
			<div><a href="#" class="items_in_sidebar sidebar-list-text-color">City (#)</a></div>
			<div><a href="#" class="items_in_sidebar sidebar-list-text-color">City (#)</a></div>
		</div>

		<div class="sidebar_titles sidebar-head-text-color sidebar-head-background-color">Genres</div>

		<div class="sidebar-sort">
			<div><a href="#" class="items_in_sidebar sidebar-list-text-color">Genre (#)</a></div>
			<div><a href="#" class="items_in_sidebar sidebar-list-text-color">Genre (#)</a></div>
			<div><a href="#" class="items_in_sidebar sidebar-list-text-color">Genre (#)</a></div>
		</div>

		<div class="sidebar_titles sidebar-head-text-color sidebar-head-background-color">Decades</div>


		<div class="sidebar-sort">
			<div><a href="#" class="items_in_sidebar sidebar-list-text-color">Decade (#)</a></div>
			<div><a href="#" class="items_in_sidebar sidebar-list-text-color">Decade (#)</a></div>
			<div><a href="#" class="items_in_sidebar sidebar-list-text-color">Decade (#)</a></div>
		</div>

		<div class="sidebar_titles sidebar-head-text-color sidebar-head-background-color">Format</div>	

		<div class="sidebar-sort">
			<div><a href="#" class="items_in_sidebar sidebar-list-text-color">Format (#)</a></div>
			<div><a href="#" class="items_in_sidebar sidebar-list-text-color">Format (#)</a></div>
			<div><a href="#" class="items_in_sidebar sidebar-list-text-color">Format (#)</a></div>
		</div>
	</div>
</div>



