@font-face {
	font-family: "Oswald";
	src: url(../fonts/oswald/"Oswald-LightItalic.eot");
	src: url("../fonts/oswald/Oswald-LightItalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/oswald/Oswald-LightItalic.woff") format("woff"),
		url("../fonts/oswald/Oswald-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: "Oswald";
	src: url("Oswald.eot");
	src: url("Oswald.eot?#iefix") format("embedded-opentype"),
		url("../fonts/oswald/Oswald.woff") format("woff"),
		url("../fonts/oswald/Oswald.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Oswald-Light";
	src: url("Oswald-Light.eot");
	src: url("Oswald-Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/oswald/Oswald-Light.woff") format("woff"),
		url("../fonts/oswald/Oswald-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "HN-icons";
	src: url("HN-icons.eot");
	src: url("HN-icons.eot?#iefix") format("embedded-opentype"),
		url("../fonts/hn-icons/HN-icons.woff") format("woff"),
		url("../fonts/hn-icons/HN-icons.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "hn-radio-icons";
	src: url("hn-radio-icons.eot");
	src: url("hn-radio-icons.eot?#iefix") format("embedded-opentype"),
		url("../fonts/hn-icons/hn-radio-icons.woff") format("woff"),
		url("../fonts/hn-icons/hn-radio-icons.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat";
	src: url("Montserrat-Bold.eot");
	src: url("Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/montserrat/Montserrat-Bold.woff") format("woff"),
		url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Yanone Kaffeesatz";
	src: url("YanoneKaffeesatz-Bold.eot");
	src: url("YanoneKaffeesatz-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/yanone-kaffeesatz/YanoneKaffeesatz-Bold.woff") format("woff"),
		url("../fonts/yanone-kaffeesatz/YanoneKaffeesatz-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}