<div class="album_page_cover">
	<img src="images/albumcover.jpg" alt="album cover" class="album-art album-art-full">
</div>

<div class="album_page_thumbnail_container">
	<div class="album_page_thumbnail">
		<img src="images/albumcover.jpg" alt="album cover" class="album-art album-art-thumb">
	</div>
	<div class="album_page_thumbnail">
		<img src="images/albumcover.jpg" alt="album cover" class="album-art album-art-thumb">
	</div>
	<div class="album_page_thumbnail">
		<img src="images/albumcover.jpg" alt="album cover" class="album-art album-art-thumb">
	</div>
	<div class="album_page_thumbnail">
		<img src="images/albumcover.jpg" alt="album cover" class="album-art album-art-thumb">
	</div>
</div>