<div class="album-views">

		<a href="/index.html" class="icon-display">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 223.48 223.48" style="enable-background:new 0 0 223.48 223.48;" xml:space="preserve" alt="grid display icon" class="grid-icon grid-icon-color grid-icon-margin">

				<g>
					<rect x="124.96" y="0.003" width="98.521" height="98.505"/>
					<rect y="0.003" width="98.512" height="98.505"/>
					<rect y="124.964" width="98.512" height="98.514"/>
					<rect x="124.96" y="124.964" width="98.521" height="98.514"/>
				</g>
			</svg>
		</a>
	

		<a href="/list.html" class="icon-display">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 92.732 92.731" style="enable-background:new 0 0 92.732 92.731;" xml:space="preserve" alt="list display icon" class="list-icon list-icon-color list-icon-margin">
				<g>
					<rect x="1.134" width="110.463" height="14.214"/>
					<rect x="1.186" y="25.721" width="110.357" height="14.215"/>
					<rect x="1.134" y="52.795" width="110.463" height="14.215"/>
					<rect x="1.186" y="78.518" width="110.357" height="14.214"/>
				</g>
			</svg>
		</a>
</div>
