<div id="filters" class="main-sidebar">

	<div class="sidebar_titles sidebar-head-text-color sidebar-head-background-color">Cities</div>

	<div class="sidebar-sort">
		<div><a href="/views-filters/grid/cities/omaha" class="items_in_sidebar sidebar-list-text-color">Omaha (#)</a></div>
		<div><a href="/views-filters/grid/cities/Lincoln" class="items_in_sidebar sidebar-list-text-color">Lincoln (#)</a></div>
		<div><a href="/views-filters/grid/cities/Kearney" class="items_in_sidebar sidebar-list-text-color">Kearney (#)</a></div>
	</div>

	<div class="sidebar_titles sidebar-head-text-color sidebar-head-background-color">Genres</div>

	<div class="sidebar-sort">
		<div><a href="/views-filters/grid/genres/Alternative" class="items_in_sidebar sidebar-list-text-color">Alternative (#)</a></div>
		<div><a href="/views-filters/grid/genres/Folk" class="items_in_sidebar sidebar-list-text-color">Folk (#)</a></div>
		<div><a href="/views-filters/grid/genres/Rock" class="items_in_sidebar sidebar-list-text-color">Rock (#)</a></div>
	</div>

	<div class="sidebar_titles sidebar-head-text-color sidebar-head-background-color">Decades</div>


	<div class="sidebar-sort">
		<div><a href="/views-filters/grid/decades/1950's" class="items_in_sidebar sidebar-list-text-color">1950's (#)</a></div>
		<div><a href="/views-filters/grid/decades/1960's" class="items_in_sidebar sidebar-list-text-color">1960's (#)</a></div>
		<div><a href="/views-filters/grid/decades/1970's" class="items_in_sidebar sidebar-list-text-color">1970's (#)</a></div>
		<div><a href="/views-filters/grid/decades/1980's" class="items_in_sidebar sidebar-list-text-color">1980's (#)</a></div>
		<div><a href="/views-filters/grid/decades/1990's" class="items_in_sidebar sidebar-list-text-color">1990's (#)</a></div>
		<div><a href="/views-filters/grid/decades/2000's" class="items_in_sidebar sidebar-list-text-color">2000's (#)</a></div>
		<div><a href="/views-filters/grid/decades/2010's" class="items_in_sidebar sidebar-list-text-color">2010's (#)</a></div>
	</div>

	<div class="sidebar_titles sidebar-head-text-color sidebar-head-background-color">Format</div>	

	<div class="sidebar-sort">
		<div><a href="/views-filters/grid/formats/LP" class="items_in_sidebar sidebar-list-text-color">LP (#)</a></div>
		<div><a href="/views-filters/grid/formats/EP" class="items_in_sidebar sidebar-list-text-color">EP (#)</a></div>
		<div><a href="/views-filters/grid/formats/Single" class="items_in_sidebar sidebar-list-text-color">Single (#)</a></div>
	</div>
</div>