<div id="filters" class="main-sidebar">

	<div class="sidebar_titles sidebar-head-text-color sidebar-head-background-color">Cities</div>

	<div class="sidebar-sort">
		<div><a href="#" class="items_in_sidebar sidebar-list-text-color">City (#)</a></div>
		<div><a href="#" class="items_in_sidebar sidebar-list-text-color">City (#)</a></div>
		<div><a href="#" class="items_in_sidebar sidebar-list-text-color">City (#)</a></div>
	</div>

	<div class="sidebar_titles sidebar-head-text-color sidebar-head-background-color">Genres</div>

	<div class="sidebar-sort">
		<div><a href="#" class="items_in_sidebar sidebar-list-text-color">Genre (#)</a></div>
		<div><a href="#" class="items_in_sidebar sidebar-list-text-color">Genre (#)</a></div>
		<div><a href="#" class="items_in_sidebar sidebar-list-text-color">Genre (#)</a></div>
	</div>

	<div class="sidebar_titles sidebar-head-text-color sidebar-head-background-color">Decades</div>


	<div class="sidebar-sort">
		<div><a href="#" class="items_in_sidebar sidebar-list-text-color">Decade (#)</a></div>
		<div><a href="#" class="items_in_sidebar sidebar-list-text-color">Decade (#)</a></div>
		<div><a href="#" class="items_in_sidebar sidebar-list-text-color">Decade (#)</a></div>
	</div>

	<div class="sidebar_titles sidebar-head-text-color sidebar-head-background-color">Format</div>	

	<div class="sidebar-sort">
		<div><a href="#" class="items_in_sidebar sidebar-list-text-color">Format (#)</a></div>
		<div><a href="#" class="items_in_sidebar sidebar-list-text-color">Format (#)</a></div>
		<div><a href="#" class="items_in_sidebar sidebar-list-text-color">Format (#)</a></div>
	</div>
</div>