<div class="main-footer main-head-background-color">
	

		<div class= "footer-info-sponsors footer-text-color footer_type">
			<div> sponsors: </div>
			<a href="#" class="footer-text-color sponsors">Firespring</a>
			<a href="#" class="footer-text-color sponsors">Hudl</a>
			<a href="#" class="footer-text-color sponsors">Bulu Box</a>
		</div>

		<div class= "footer-info-credit footer-text-color footer_type">
			<div> site by: </div>
			<a href="#" class="footer-text-color sponsors">Omaha Code School</a>
		</div>

	

</div>