<div class="main-header main-head-background-color header-text-color">
		<div class="header-content">
		
			<a href="/index.html">
				<img id="logoAnimate" src="{{site.baseurl}}/images/vinyl.png" alt="vinyl still" class="vinyl-icon header_logo">
			</a>

			<div class= "header-info">

				<a href="/index.html" class="header-text-color vinyl_archive_title header-title">
						nebraska vinyl archive
				</a>

				<a href="http://hearnebraska.org" class="header-text-color hear_nebraska header-organization">
						by Hear Nebraska
				</a>

			</div>

		</div>

		<a href="#" class="add-album-display add_button add-button header-text-color">
				add an album 
		</a>
</div>