<div class="sort-bar">

	<div class="sort-text-color sort">
		sort
	</div>

	<form class="dropdown">
		<select id="mySelect" class="sort-text-color sort_text sort-selection" onchange="sortfunction()">
			<option >upload date, new to old </option>
			<option>upload date, old to new </option>
			<option>album year, new to old </option>
			<option>album year, old to new </option>
			<option>album title, a to z </option>
			<option>album title, z to a </option>
			<option>album artist, a to z </option>
			<option>album artist, z to a </option>	
		</select>
	</form>

</div>