---
layout: main_list
title: Vinyl Archive | Home 
pagination: 
  enabled: true
  per_page: 9
  sort_reverse: false   
  permalink: "/2010's/:num/"
  indexpage: "2010's"

---

<nav class="navbar-filters">

	<div class="album-views">

		<a href="/views-filters/grid/decades/2010's.html" class="icon-display">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 223.48 223.48" style="enable-background:new 0 0 223.48 223.48;" xml:space="preserve" alt="grid display icon" class="grid-icon grid-icon-color-active grid-icon-margin">

				<g>
					<rect x="124.96" y="0.003" width="98.521" height="98.505"/>
					<rect y="0.003" width="98.512" height="98.505"/>
					<rect y="124.964" width="98.512" height="98.514"/>
					<rect x="124.96" y="124.964" width="98.521" height="98.514"/>
				</g>
			</svg>
		</a>
	

		<a href="/views-filters/list/decades/2010's.html" class="icon-display">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 92.732 92.731" style="enable-background:new 0 0 92.732 92.731;" xml:space="preserve" alt="list display icon" class="list-icon list-icon-color list-icon-margin">
				<g>
					<rect x="1.134" width="110.463" height="14.214"/>
					<rect x="1.186" y="25.721" width="110.357" height="14.215"/>
					<rect x="1.134" y="52.795" width="110.463" height="14.215"/>
					<rect x="1.186" y="78.518" width="110.357" height="14.214"/>
				</g>
			</svg>
		</a>
	</div>
	
</nav>

<div class="main-body">

	<button class=" filter-button sidebar_titles sidebar-head-text-color sidebar-head-background-color"onclick="filters()">Filters</button>

	<div class="latest-uploads">

		{% include main_content_head.html 
		   header_content= "Latest Uploads"
		%}

		<div class="grid-main">

			

			{% for post in paginator.posts %}

				{% if post.release_date == "2010" 
				   or post.release_date == "2011"
				   or post.release_date == "2012"
				   or post.release_date == "2013"
				   or post.release_date == "2014"
				   or post.release_date == "2015"
				   or post.release_date == "2016"
				   or post.release_date == "2017"
				   or post.release_date == "2018"
				   or post.release_date == "2019"
				%}

					{% include album_input.html 
						album_url=post.url
						artist_url="#"
						album_cover=post.album_cover
						album_title=post.album_title
						album_artist=post.album_artist
					%}

				{% endif %}

			{% endfor %}

			
		</div> 

		<div class="page-nav prev-next-text-color ">
			<a href="{{ paginator.previous_page_path }}" class="prev prev-next-text-color"> 
				<div class="prev_next_arrows"> < </div>
				<div> prev </div>
			</a>


			<div class="page_number"> {{ paginator.page }} of {{ paginator.total_pages }} </div>


			<a href="{{ paginator.next_page_path }}" class="next prev-next-text-color"> 
				<div> next </div>
				<div class="prev_next_arrows"> > </div>	
			</a>
		</div>
	</div>

	{% include filters-grid.html %}

</div>



