$dark_grey: #5D5E5E;

.share_social_media {
	font-size: 25px; 
	margin-left: 10px;
}

.fa-twitter,
.fa-facebook-square {
	color: $dark_grey;
}

.share_container {
	display: flex; 
	position: absolute; 
	right: 150px;
	top: 100px;
}