// album view sizes----------------------------------

$album_full: 425px;
$album_grid: 200px;
$album_thumb:90px;
$album_list: 55px; 

.album-art{
	box-shadow: 0px 0px 7px #343434; 

	&.album-art-full{
		width: $album_full;
		height: $album_full;
	}
	&.album-art-grid{
		width: $album_grid;
		height: $album_grid;	 
	}
	&.album-art-thumb{
		width: $album_thumb;
		height: $album_thumb;
	}
	&.album-art-list{
		width: $album_list;
		height: $album_list;
	}
}

// album display formatting------------------------

// grid view---------------------------------------

.grid-main{
	display:flex;
	flex-wrap: wrap; 
	justify-content: space-between;
	max-width:650px;
	margin: 15px 0px 0px 0px;
	border-bottom: 1px solid $main-body-text-color;

	.album-display{
		width: 31%;
		display: flex;
		flex-direction: column;
		line-height: 35px; 
		margin: 10px 0px 20px 0px;
		.album-art{
			@extend .album-art-grid;
		}
	}
}

// list view---------------------------------------

.grid-list{
	display:flex;
	flex-wrap: wrap; 
	justify-content: space-between;
	max-width:650px;
	border-bottom: 1px solid $main-body-text-color;

	.album-display{
		display: flex;
		flex-direction: row;
		line-height: 35px;
		width:325px; 
		height:120px; 
		padding:25px 0px 25px 0px; 

		.album-details{
			margin-top:-10px;
		}
		.album-art{
			@extend .album-art-list;
			margin-right: 20px;
		}
	}
}

.album-details{
	display: flex;
	flex-direction: column; 
}
