// album view sizes----------------------------------

$album_full: 425px;
$album_grid: 200px;
$album_thumb:90px;
$album_list: 55px; 

.album-art{
	box-shadow: 0px 0px 7px #343434; 

	&.album-art-full{
		width: $album_full;
		height: $album_full;
	}
	&.album-art-grid{
		width: $album_grid;
		height: $album_grid;	 
	}
	&.album-art-thumb{
		width: $album_thumb;
		height: $album_thumb;
	}
	&.album-art-list{
		width: $album_list;
		height: $album_list;
	}
}

// album display formatting------------------------

.grid-main{
	.album-display{
		display: flex;
		flex-direction: column;
		line-height: 35px; 
		margin: 10px 0px 20px 0px;
		.album-art{
			@extend .album-art-grid;
		}
	}
}

.grid-list{
	.album-display{
		display: flex;
		flex-direction: row;
		line-height: 35px; 
		.album-art{
			@extend .album-art-list;
			margin-right: 20px;
		}
	}
}

.album-details{
	display: flex;
	flex-direction: column; 
}
