a:hover {
    color: $hear-nebraska-orange;
}

.grid-icon:hover {
    fill: $hear-nebraska-orange;
}

.list-icon:hover {
    fill: $hear-nebraska-orange;
}


.active {
    fill: $dark-grey !important;
}


