.vinyl-icon{
	width:85px;
	&.header_logo{
		margin-top: -20px;
	}
}

.grid-icon{
	width: 50px;
	height: 50px; 
}

.list-icon{
	width: 80px;
	height: 50px;
}

.search-icon{
	width: 22px;
	height: 22px;
}