.grid-main{
	.album-display{
		display: flex;
		flex-direction: column;
		line-height: 35px; 
		.album-art{
			@extend .album-art-grid;
			margin-bottom: 12px;
		}
	}
}

.grid-list{
	.album-display{
		display: flex;
		flex-direction: row;
		line-height: 35px; 
		.album-art{
			@extend .album-art-list;
			margin-right: 20px;
		}
	}
}



