.navbar{
  display: flex;
  flex-direction: row;
  align-items:center; 
}

// search bar------------------------------------------------------------


$border-radius:4px; 

.search {
  display:flex; 
  margin-top: 10px;
  width: 40%;
}

.searchTerm {
  width:100%;
  border: none;
  padding: 2px 10px 5px 10px; 
  border-radius: $border-radius;
}

.searchButton {
  margin-left: -5px;
  padding-right:10px; 
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
}

// sort bar--------------------------------------------------------------

