.album-art{
	box-shadow: 0px 0px 7px #343434; 

	&.album-art-full{
		width: 425px;
		height: 425px;
	}

	&.album-art-grid{
		width: 200px;
		height: 200px;	 
	}

	&.album-art-thumb{
		width: 90px;
		height: 90px;
	}

	&.album-art-list{
		width: 55px;
		height: 55px;
	}
}


