@mixin Oswald_gray {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;	
	font-size: 25px; 
}

@mixin italic-darkgray {
	font-size: 25px; 
	font-style: italic;
}

@mixin regular-black {
	font-size:25px;
	color: black; 
}

@mixin white {
	font-size:25px;
	color: #fff; 
}

@mixin Oswald_light {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;	
}

@mixin prev_next {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 25px;
	text-transform: uppercase; 
}

// Main Page 

.vinyl_archive_title {
	@include white; 
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	background: black;
	text-transform: uppercase; 
}

.hear_nebraska {
	@include white;
	@include Oswald_light;
	background: black; 
}


.add_button {
	background: black; 
	@include white; 
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-transform: uppercase; 
}


.share_album,
.sort {
	@include italic-darkgray;
	text-transform: uppercase; 
	@include Oswald_light;
}

.sidebar_titles {
	text-transform: uppercase; 
	@include white;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	background: #a9a9a9;
}

.items_in_sidebar {
	@include Oswald_gray;
}

.mp_album {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 25px;
}

.mp_artist{
	@include Oswald_light;
	font-size: 25px;
	font-style: italic;
}

.prev {
	@include prev_next;
}

.next,
.apage_subheadings {
	@include prev_next;
}


// Album Page 

.album_list_song,
.album_by,
.info,
.about_info
 {
	@include regular-black;
	@include Oswald_light;
}

.album_list_artist,
.search_text {
	@include italic-darkgray;
	@include Oswald_light;
}

.artist_album_background,
.edit_a,
.uploads
{
	@include white;
	background: black;
}


.background_artist,
.uploads {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.background_album {
	@include Oswald_light;
	font-style: italic;
}

.verticle_line {
	font-family: 'Oswald', sans-serif;
	font-weight: 100;
}

.edit_a {
	text-transform: uppercase; 
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

.album_title {
	font-size: 30px;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
}


.other_info,
.about_title  {
	@include regular-black;
	font-style: italic;
	@include Oswald_light;
}
