.header{
	justify-content: space-between;
	background-color: #2B2B2B;
	height: 100px;
	width: 1000px;
}
.headerWrapper{
	align-items: center;
	justify-content: space-around;
	width: 50%;
	padding-left: 20px;
}
.headerWrapper--album{
	align-items: center;
	padding-right: 20px;
}
.playerImage{
	width: 100px;
	height: 100%;
	background-color: white;
}
.siteName{
	font-weight: 600;
}
.addAlbum{
	font-weight: 800;
}
.pageTitle{
	background-color: #5D5E5E;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.pageTitle__text{
	font-weight: 800;
}
.album{
	width: 200px;
}
.album__image{
	width: 200px;
	height: 200px;
	-moz-box-shadow: 0 0 8px #888888;
	-webkit-box-shadow: 0 0 8px #888888;
	box-shadow: 0 0 8px #888888;
}
.album__image--small{
	width: 50px;
	height: 50px;
	margin-right: 10px;
}
.album__albumName{
	font-weight: 600;
	font-size: 18px;
}
.album__artistName{
	font-style: italic;
	font-style: 18px;
}
.filterTitle{
	background-color: #A6A6A6;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.filterTitle__text{
	font-weight: 600;
}
.search{
	background-color: #EFEFEF;
	border-radius: 5px;
	padding-right: 10px;
}
.search__input{
	background-color: #EFEFEF;
	border-radius: 5px;
	border: none;
	height: 25px;
	width: 400px;
}
::-webkit-input-placeholder{
	color: #A6A6A6;
	font-size: 20px;
	font-style: italic;
}
.columnWrapper{
	flex-direction: column;
}
.line{
	border-bottom: 3px #B6B6B6 solid;
	width: 50%;
}
.albumNav{
	justify-content: space-around;
	width: 50%;
}