@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body{
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-flow: column;
	align-items: center;
	background: #BBBBBB;
	margin: 0;
}
.bodyContainer{
	background: white;
	width: 1000px;
}
.contentContainer{
	justify-content: space-between;
}
.rowWrapper{
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0;
}
.leftContainer{
	flex-direction: column;
	width: 75%;
}
.populateAlbums{
	flex-wrap: wrap;
	justify-content: space-between;
}
.filterOptions{
	flex-direction: column;
	width: 25%;
	margin-left: 0;
}