@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body{
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-flow: column;
	align-items: center;
	background: #BBBBBB;
	margin: 0;
}
.bodyContainer{
	background: white;
	width: 85%;
}
.headerWrapper{
	align-items: center;
	justify-content: space-around;
	width: 50%;
	padding-left: 20px;
}
.headerWrapper--album{
	align-items: center;
	padding-right: 20px;
}
.contentContainer{
	justify-content: space-between;
}
.rowWrapper{
	justify-content: space-around;
	align-items: center;
	margin-top: 10px;
}
.leftContainer{
	flex-direction: column;
	width: 75%;
}
.populateAlbums{
	flex-wrap: wrap;
	justify-content: space-between;
}
.filterOptions{
	flex-direction: column;
	width: 25%;
	margin-left: 0;
}