<h1>All Albums</h1>

<table>

	<thead>
		<tr>
			<th>Title</th>
		</tr>
	</thead>

	<tbody>
		<% @albums.each do |album| %>
			<tr id="album_<%= album.id %>">
				<td><%= album.name %></td>
				<td><%= link_to "Details", album_path(album.id) %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to "Add An Album", new_album_path %>