.modal-wrapper{
	display: none;
	justify-content: center;
	background-color: #BBBBBB;
	z-index: 10;
    overflow: auto;
    position: fixed;
	height: 100%;
	width: 100%;
}
.modal{
	display: flex;
	background-image: url("record-background.png"); 
	z-index: 10;
    overflow: auto;
    position: fixed;
	height: 595px;
	width: 1000px;
	flex-direction: column;
	justify-content: space-between;
}
.wrap{
	display: flex;
	justify-content: flex-end;	
}
.headerContainer{
	display: flex;
	justify-content: space-between;
}
.greyBox{
	font-family: Oswald-Light;
	color: #868686;
	font-size: 35px;
	background-color: #5D5E5E;
	height: 35px;
	width: 35px;
}
.next{
	position: absolute;
	margin-left: 125px;
	margin-top: 25px;
}
.formWrapper{
	display: flex;
	justify-content: center;
}
#albumTitle{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 25px;
}
#albumGenre{
	display: none;
	font-size: 25px;
}
#albumDate{
	display: none;
	font-size: 25px;
}
#albumFormat{
	display: none;
	font-size: 25px;	
}
#artistName{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 25px;
}
#artistCity{
	display: none;
	font-size: 25px;
}
#artistUrl{
	display: none;
	font-size: 25px;
}
#artistBio{
	display: none;
	font-size: 25px;
}
#memberName{
	display: none;
	flex-direction: column;
	align-items: center;
	font-size: 25px;
}
#memberInstrument{
	display: none;
	flex-direction: column;
	align-items: center;
	font-size: 25px;	
}
#submitButton{
	display: none;
}
.headerContainer{
	flex-direction: row;
}
input{
	background-color: #C8C8C8;
	font-family: Oswald-Light;
	color: #2B2B2B;
	font-size: 20px;
	border: none;
	width: 280px;
	border-radius: 5px;
	padding-top: 10px;
	padding-right: 10px;
}
#comment{
	font-family: Oswald;
	font-style: italic;
	font-size: 18px;
}
#comment2{
	display: none;
	font-family: Oswald;
	font-style: italic;
	font-size: 18px;
}
#back{
	background-color: #5D5E5E;
	width: 15px;
	height: 40px;
}
#plusMember{
	background-color: #5D5E5E;
	width: 15px;
	height: 40px;
}
#formRow{
	flex-direction: row;
}
.addAnother{
	height:80px;
	width:35px;
	background-color: #5D5E5E;
	float:right;
	display: none;
}