.albumInfo{
	font-size: 23px;
}
.albumInfo__name{
	font-size: 33px;
}
.albumInfo__artist{
	margin-bottom: 25px;
}
.albumTracks__num{
	color: #868686;
	margin-right: 10px;
}
.info{
	font-family: Oswald-Light;
	font-size: 23px;
}
.info__title{
	font-style: italic;
	margin-right: 5px;
}
.edit{
	font-family: Oswald;
	font-size: 20px;
}